/* Fix grey overlay in calendar view of Leave/My Time/Dashboard
Override the Odoo core style for thead background.
Use class `.fc-dayGrid-view` to be more specific.
*/
.fc-dayGrid-view thead {
    background-color: transparent !important;
}

// 2. Dark Mode Fixes
/* a) App module names have a white background.
Make background transparent.
*/
.oe_module_name {
  background-color: transparent !important;
}

/* b) Discuss Channel name background is unnecessary.
- Inherit background color.
- Inherit text color.
- Inherit divider color.
*/
.knk_night_mode .o_input {
  background-color: inherit;
  color: inherit;
}
.knk_night_mode .border-start {
  border-left-color: inherit !important;
}

/* c) Folder icon to inherit color.
Was previously being set to a fixed dark color.
Gets overridden if not set as !important
*/
.text-primary {
  color: inherit !important;
}

/* d) Kanban title inherit color.
Primarily affecting Recruitment module.
Was previously being set to a fixed dark color.
*/
.o_primary {
  color: inherit !important;
}

/* e) Inherit danger text color.
Primarily seen in Attendance module.
##TODO Use more generic selector if possible. Works as-is.
*/
body.knk_night_mode .o_list_renderer .o_list_table tbody > tr > td:not(.o_list_record_selector):not(.o_handle_cell):not(.o_list_button):not(.o_list_record_remove):not(.o_list_record_open_form_view) {
    color: inherit;
}

/* f) Set Time Off/Leave Dashboard background dark.
#TODO: Figure out selector specific to dark mode
*/
/*
.o_timeoff_dashboard {
  background-color: #242733;
}
.o_calendar_renderer {
  background-color: #242733;
}
*/

/* g) No Content Background color.
Affects all modules.
*/
.o_view_nocontent {
  background-image: inherit;
}
.o_view_sample_data .o_nocontent_help {
  background-color: white;
  box-shadow: none;
}

/* h) MK App Icon Background
Affects App Drawer
*/
.o_navbar_apps_menu.show .dropdown-menu .o_app > a .mk_app_icon {
  background-color: inherit;
}

/* i) Command Pallete selector opacity
Too bright in dark mode (0.65). Drop to 0.5 works well in dark and light mode.
*/
.o_command_palette_l istbox .o_command.focused {
  background: rgba(150,150,150,0.3);
}

/* j) HR Leave right column background
Original color is too bright. Make it a neutral grey with low opacity so it works with both light and dark mode.
*/
.o_hr_leave_form .o_hr_leave_content .col_right {
  background-color: rgba(150,150,150,0.1);
}

/* k) Discuss chat minimized window text color
*/
.knk_night_mode .bg-100 {
  color: white;
}
